@model ASM_01_SE1708_SE182432_Repositories.Models.SystemAccount

<header class="navbar navbar-expand-xxl navbar-dark bg-dark w-100" style="width: 100vw; left: 0; right: 0; margin: 0; padding-left: 2rem; padding-right: 2rem;">
    <a class="navbar-brand" href="#">FPT University CMS</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLecturer" aria-controls="navbarLecturer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarLecturer">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Staff", "SystemAccount")">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="GetCategories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="NewsArticle" asp-action="NewsArticleForStaff">News Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SystemAccount" asp-action="GetAllSystemAccounts">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="NewsArticle" asp-action="GetAllFilter">Report</a>
            </li>
        </ul>

        <span class="navbar-text text-white me-3">
            Welcome, @Model.AccountName
        </span>
        <form method="get" asp-controller="SystemAccount" asp-action="Logout">
            <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
        </form>
    </div>
</header>
