<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASM01_SE1708_SE182432_MVC.styles.css" asp-append-version="true" />
</head>
<body>
@RenderBody()  <!-- Đặt ở ngoài container -->

<div class="container">
    <main role="main" class="pb-3">
        <!-- Nếu có nội dung cần container thì bao trong view con -->
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - ASM01_SE1708_SE182432_MVC -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
</body>
</html>
